{% load staticfiles %}

<html>
    <head>
        <script type="text/javascript">
            var systemTree = {{ system_tree|safe }};
            var systemTreeLength = {{ system_tree_length }};
            var systemTreeWidth = {{ system_tree_width }};
            var objectLocks = {{ object_locks|safe }};
            var WORMHOLE_SIG_LENGTH = {{ WORMHOLE_SIG_LENGTH }};
            var WORMHOLE_LIFE_PERCENTAGES = {{ WORMHOLE_LIFE_PERCENTAGES }};
            var WORMHOLE_MASS_PERCENTAGES = {{ WORMHOLE_MASS_PERCENTAGES }};
        </script>

        <script type="text/javascript"
                src="{% static 'scripts/plugins/jquery-2.0.2.min.js' %}">
        </script>
        <script type="text/javascript" src=
                "{% static 'scripts/plugins/jquery-ui-1.10.3.custom.min.js' %}">
        </script>
        <script type="text/javascript"
                src="{% static 'scripts/plugins/raphael-min.js' %}">
        </script>
        <script type="text/javascript"
                src="{% static 'scripts/systems.js' %}">
        </script>
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}"></link>
        <link rel="stylesheet"
              href="{% static 'styles/jquery-ui-1.10.3.custom.min.css' %}">
    </head>

    <body>
        <select>
            <option value=""></option>
            {% for map_page in map_pages %}
                <option value="{{ map_page }}"
                    {% if page and page == map_page %}
                        selected="true"
                    {% endif %}>{{ map_page }}</option>
            {% endfor %}
        </select>
        <input id="create-page" type="button" value="+ New Map">
        <br/><br/>
        Active Users<br/>
        <span id="user-list">
            {% for user in user_list %}
                {{ user }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span>
        <br/><br/>
        <div id="map"></div>

        <div id="stash">
            <div class="new-page-form">
                <br/>Define the new page:<br/>
                <form>
                    <table>
                        <tr>
                            <td>Page name:</td>
                            <td><input id="page-name"></td>
                        </tr>
                        <tr>
                            <td>Root system name:</td>
                            <td><input id="system-name"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit"></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="system-info">
                <div id="system-info-author">Author: </div>
                <div id="system-info-date">Last modified: </div>
                <div id="system-info-wspace-effect" hidden="true">
                  <br/>Effects:<br/>
                </div>
                <div id="system-info-notes" hidden="true">
                  <br/>Notes:
                </div>
                <div id="system-info-lock" hidden="true">
                  <br/>LOCKED BY:<br/>
                </div>
            </div>

            <div class="system-actions">
                <a id="edit-system" href="">Edit system</a><br/><br/><br/>
                <a id="add-system" href="">Add system</a><br/>
                <a id="add-connection" href="">Add connection</a><br/><br/><br/>
                <a id="delete-system" href="">Delete system</a>
            </div>

            <div class="connection-info">
                <div id="connection-info-author">Author: </div>
                <div id="connection-info-date">Discovered: </div>
                <div id="connection-info-lock" hidden="true">
                  <br/>LOCKED BY:<br/>
                </div>
            </div>

            <div class="connection-actions">
                <a id="edit-connection" href="">Edit connection</a>
            </div>

            <div class="new-object-choice">
                <p>What kind of connection would you like to create?</p>
                <input id="wormhole" type="button" value="Wormhole">
                <input id="gate" type="button" value="Gate">
            </div>

            <div class="new-system-form">
                <form>
                    <table>
                        <tr>
                            <td>
                                <input id="system-name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Submit" disabled>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="edit-system-form">
                <form>
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td><input id="system-name"></td>
                        </tr>
                        <tr>
                            <td>Notes:</td>
                            <td><textarea id="system-notes"></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit"></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="new-connection-form">
                <form>
                    <table>
                        <tr>
                            <td>Wormhole Sig:</td>
                            <td><input id="wormhole-sig"></td>
                        </tr>
                        <tr>
                            <td>Origin Celestial:</td>
                            <td>P<input id="origin-celestial"></td>
                        </tr>
                        <tr>
                            <td>Destination Celestial:</td>
                            <td>P<input id="destination-celestial"></td>
                        </tr>
                        <tr>
                            <td>Life Level:</td>
                        </tr>
                        {% for level in WORMHOLE_LIFE_LEVELS %}
                            <tr>
                                <td></td>
                                <td>
                                    <input type="radio" name="life-level"
                                           id="life-level"
                                           value="{{ level.0 }}">{{ level.1 }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Mass Level:</td>
                        </tr>
                        {% for level in WORMHOLE_MASS_LEVELS %}
                            <tr>
                                <td></td>
                                <td>
                                    <input type="radio" name="mass-level"
                                           id="mass-level"
                                           value="{{ level.0 }}">{{ level.1 }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Submit">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="lock-overlay"></div>

            <div class="system-action-overlay">
                <img id="delete" src="{% static 'images/icon-close.png' %}">
                <img id="edit" src="{% static 'images/icon-edit.png' %}">
                <img id="add" src="{% static 'images/icon-add.png' %}">
            </div>
        </div>
    </body>
</html>
