body {
    background-color: #222222;
    color: white;
}

a {
    color: white;
}

form, p {
    margin: 0;
}

select {
    height: 40px;
    width: 300px;
}

#create-page {
    height: 40px;
    width: 110px;
    border: 0px;
    background-color: rgb(41, 128, 185);
    color: white;
}

#stash {
    display: none;
}

#map {
    position: relative;
}

.system-info, .connection-info {
    border: 1px solid #80ADC1;

    border-radius: 10px;
    -webkit-border-radius: 10px;

    position: absolute;
    padding: 5px 10px;
    font-size: 13px;
    background-color: #7f8c8d;
}

table {
    font-size: 13px;
    color: black;
}

text {
    fill: white;
    cursor: default;
}

rect.high {
    fill: #27ae60;
    stroke: #27ae60;
}

rect.low {
    fill: #e67e22;
    stroke: #e67e22;
}

rect.null {
    fill: #e74c3c;
    stroke: #e74c3c;
}

rect.c1, rect.c2, rect.c3, rect.c4, rect.c5, rect.c6 {
    fill: #9b59b6;
    stroke: #9b59b6;
}

path.wormhole-connection {
    stroke-dasharray: 4;
}

rect.system-connection, path {
    fill: #7f8c8d;
    stroke: #7f8c8d;
}

rect.hover {
    stroke-width: 4;
}

rect {
    fill: #4e4e4e;
    stroke: #4e4e4e;
    stroke-width: 0;
}

.lock-overlay {
    position: absolute;
    background: rgba(0, 0, 0, .6) url(/static/images/lock-icon.png) 50% 50%
                no-repeat;
}

.system-action-overlay, .connection-action-overlay {
    position: absolute;
}

.system-action-overlay img, .connection-action-overlay img {
    cursor: pointer;
    position: absolute;
}

.system-action-overlay #delete {
    top: 5px;
    left: 5px;
}

.system-action-overlay #edit {
    top: 5px;
    right: 5px;
}

.system-action-overlay #add {
    bottom: 5px;
    right: 5px;
}

.ui-dialog {
    color: black;
    width: auto !important;
}

.ui-dialog-titlebar {
    display: none;
}

.new-system-form, .edit-system-form, .new-object-choice {
    height: auto !important;
    min-height: 0 !important;
}

.ui-autocomplete {
    font-size: 0.8em !important;
}

.new-object-choice input {
    border: 0px;
    color: white;
    float: right;
}

.new-object-choice #gate {
    background-color: #27ae60;
}

.new-object-choice #wormhole {
    background-color: #9b59b6;
}

.connection-action-overlay #edit-parent {
    left: 40px;
}

.connection-action-overlay #edit-child {
    right: 0px;
}